.talk-to-us {
  text-align: center;
  align-items: center;
  color: #ffffff;

  h2 {
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 7.75rem;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
  }

  p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 3.75rem;
  }

  .talk-to-us__form {
    text-align: center;
    align-items: center;

    input {
      width: 27rem;
      display: inline-block;
      background-color: #41a297;
      border: 0.0625rem solid #41a297;
      border-radius: 1.71875rem;
      color: #ffffff;
      margin-bottom: 1.2rem;
      padding: 0.9375rem;
    }
    input::placeholder {
      padding-left: 0.3125rem;
      color: #ffffff;
      font-weight: 300;
      line-height: 1.2rem;
      font-size: 1rem;
    }
    .input--message {
      padding-bottom: 8.125rem;
    }
    button {
      padding: 1rem 5rem;
      border: 0.1875rem solid #ffffff;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;
      border-radius: 1.71875rem;
      margin-top: 2.125rem;
      margin-bottom: 3.875rem;
    }
  }
}
