@use "../custom" as *;

.header {
  width: 100%;
  background-image: url(../../images/background-menu.png);

  .header__container {
    width: 68%;
    padding-top: 6.421875rem;
    padding-bottom: 6.421875rem;

    .row {
      padding: 0;
      margin: 0;

      .col-lg-3 {
        width: 237.75px;
        height: 237.75px;
        text-align: center;
        padding: 0;
        .text {
          font-weight: 300;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          padding-top: 40%;
          width: 70%;
          margin: 0 auto;
          a,
          a:visited {
            color: $white;
            text-decoration: none;
          }
        }
      }

      .white {
        background-color: $white;
        padding: 0;

        img {
          padding-top: 25%;
          padding-bottom: 0.3125rem;
        }
        hr {
          background-color: $yellow;
          width: 75%;
          margin: 0 auto;
          border: 0.0625rem solid $yellow;
        }
        p {
          padding-top: 1rem;
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 1.25rem;
          text-align: center;
          color: #424242;
          width: 50%;
          margin: 0 auto;
        }
      }
      .menu-1 {
        background-image: url(../../images/menu-1.png);
      }
      .menu-2 {
        background-image: url(../../images/menu-2.png);
      }
      .menu-3 {
        background-image: url(../../images/menu-3.png);
      }
      .menu-4 {
        background-image: url(../../images/menu-4.png);
      }
      .menu-5 {
        background-image: url(../../images/menu-5.png);
      }
      .menu-6 {
        background-image: url(../../images/menu-6.png);
      }
      .menu-7 {
        background-color: $primary;
        svg {
          fill: $white;
          width: 4rem;
          height: 3rem;
        }
      }
    }
  }
}
