@use "../custom" as *;
.header__menu {
  background-image: url("../../images/background-menu.png");
  max-width: 1440px;
  max-height: 681px;

  a,
  a:visited {
    color: #fff;
    text-decoration: none;
    z-index: 1;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
  .container {
    padding: 6.421875rem 15.265625rem;
    position: relative;
  }

  .white {
    background-color: #fff;
  }
  .background {
    display: inline;
  }

  .img-links-1 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    position: absolute;

    text-align: center;

    width: 91px;
    height: 29px;
    left: 526.22px;
    top: 209.36px;
  }
}

.header__navbar {
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 1rem;
}
