@use "../custom" as *;

@mixin switchColor($color) {
  .icon {
    background-color: $color;
    border: 0.0625rem solid $color;
    fill: white;
  }
  .services__break {
    border: 0.1875rem solid $color;
  }
}

@mixin makeBorder($color) {
  svg {
    background-color: #f5f5f5;
    border: 0.1875rem solid $color;
    color: $color;
    fill: $color;
  }
  .services__break {
    border: 0.1875rem solid $color;
  }
}
